* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #00ffee;
  height: auto;
  width: auto;
}
.img-wrapper {
  position: absolute;
  top: 25px;
  right: 20px;
}
h1 {
  color: purple;
  text-align: center;
  width: 100px;
  left: 40px;
  position: absolute;
  top: 15px;
}
.header {
  height: 90px;
  border-radius: 0px 0px 40px 40px;
  background: #e6e6fa;

  display: flex;
  justify-content: space-between;
}
.main-content {
  margin-top: 20px;
}
.channel-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.channel {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.channel__image {
}
.channel__message-box {
}
.channel__hours {
}
